/* Landscape orientation styling */

  body {
      display: block; /* Change to block display */
  }

  .container {
      width: 80%; /* Adjust width as needed */
      margin: 2rem auto; /* Center the container */
      z-index: 1000;
  }

body {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the entire body */
    font-size: 16px; /* Set a base font size */
    line-height: 1.6; /* Set line height for better readability */
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Add some space below headings */
    margin-top: 70px; /* Add some space above headings */
  }
  
  
  .about-section p,
  .contact-section p {
    font-size: 18px; /* Paragraph font size */
    margin-bottom: 10px; /* Add some space below paragraphs */
  }
  
  .contact-section p2 {
    font-size: 16px; /* Additional paragraph font size */
    font-style: italic; /* Optionally use italic style */
  }
  
  ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
  }
  
  ul li {
    font-size: 16px; /* List item font size */
    margin-bottom: 8px; /* Add some space between list items */
  }
  
/* CSS for black strip at the top */


/* CSS for the wrapper section */
.wrapper {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

/* CSS for the dots */
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

/* Styling for the h1 */
h1 {
    font-family: Arial, sans-serif;
}
/* Styling for the black strip */
/* Styling for the black strip */
.black-strip {
  background-color: #000;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Adjusted z-index */
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
  white-space: nowrap;
}


.black-strip a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px; /* Adjust margin to bring links closer together */
  font-size: 10px; /* Decrease font size further to zoom out */
}
/* Styling for the landscape popup */

#landscape-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  font-size: 24px;
  text-align: center;
  z-index: 1000;
}

#landscape-popup p {
  margin-top: 30vh; /* Adjust vertical position */
}
